@using DOMAIN.MODELS.BARBEIROS
@model BarbeiroModel;
@{
	ViewData["Title"] = (Model.IdBarbeiro != 0 ? "Atualizar Barbeiro" : "Cadastrar barbeiro");
}

@if (TempData["Erro"] != null)
{
    <p class="alert alert-danger">@TempData["Erro"]</p>
}

<div class="container mt-5">
	<div class="card shadow-sm">
		<div class="card-header bg-primary">
			<h3 class="text-white">@(Model.IdBarbeiro != 0 ? "Editar Barbeiro" : "Novo Barbeiro")</h3>
		</div>
		<div class="card-body">
			<form asp-controller="Barbeiro" asp-action="@(Model.IdBarbeiro != 0 ? "AtualizarBarbeiro" : "CadastrarBarbeiro")">

				<input type="hidden" asp-for="IdBarbeiro" />

				<div class="row">
					<div class="col-12 mb-3">
						<label asp-for="Nome" class="form-label fw-bold">Nome Completo</label>
						<input asp-for="Nome" class="form-control" maxlength="100" placeholder="Digite o nome..." />
					</div>
					<div class="col-6 mb-3">
						<label asp-for="Cpf" class="form-label fw-bold">Cpf</label>
						<input asp-for="Cpf" class="form-control" type="text" maxlength="14" placeholder="000.000.000-00" />
					</div>
					<div class="col-6 mb-3">
						<label asp-for="Telefone" class="form-label fw-bold">Telefone</label>
						<input asp-for="Telefone" class="form-control" type="text" maxlength="15" placeholder="(00) 00000-0000" />
					</div>
					<div class="col-12 mb-3">
						<label asp-for="Email" class="form-label fw-bold">Email</label>
						<input asp-for="Email" class="form-control" type="text" placeholder="Digite o e-mail" />
					</div>
					<div class="col-12 mb-3">
						<label asp-for="Salario" class="form-label fw-bold">Salário</label>
						<input asp-for="Salario" class="form-control" type="number" placeholder="Digite o salário " />
					</div>
				</div>
				<div class="d-flex gap-2">
					<form asp-controller="Barbeiro" asp-action="@(Model.IdBarbeiro != 0 ? "AtualizarBarbeiro" : "CadastrarBarbeiro")" method="post">
					<button type="submit" class="btn btn-outline-secondary px-4 fw-bold">Salvar</button>
					</form>
					<a class="btn btn-success px-4 fw-bold" asp-controller="Barbeiro" asp-action="ListarBarbeiros">Voltar</a>
				</div>
			</form>
		</div>
	</div>
</div>

<script src="~/js/Mascaras/Mascara.js" asp-append-version="true"></script>